<div class="contentHeader">
  <%= link_to "戻る", women_path, :class => "backBtn" %>
  <h1 class="contentTitle">ユカタスナップの取り方</h1>
</div>
<div class="coontentBody">
  <p>浴衣スナップ企画へのご協力ありがとうございました！</p>
  <p>Lineでスナップ写真を送ろう！ステキな写真を女の子は欲しがっているはず！</p>

  <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
  <script type="text/javascript">
  new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"かわいい写真撮れたよ！どうもありがとう。今後一緒にご飯とかどう？","withUrl":true});
  </script>
</div>
<div class="contentFooter">
<%= link_to "戻る", women_path, :class => "btn" %>
</div>
