完了しました！<br />
<br />
<span>
<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
<script type="text/javascript">
new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"かわいい写真撮れたよ！どうもありがとう。今後一緒にご飯とかどう？","withUrl":true});
</script>
</span>
<%= link_to "戻る", women_path, :class => "btn" %>
