<!--
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/common.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <title>ユカタスナップ</title>
-->
<div class="contentHeader">
  <%= link_to "戻る", women_path, :class => "backBtn" %></div>
  <h1 class="contentTitle">ユカタスナップの取り方</h1>
</div>
<div class="coontentBody">
  <p><img src="/static/img/snap/snap_start.jpg" width="100%" alt=""></p>
  <h2 class="subTitle">ポーズお題</h2>
  <p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
  <div class="btnBox"><%= link_to "進む", new_theme_path, :class => "btn" %></div>
</div>
